{% extends "base.html" %}
{% load static %}
{% block body_here %}
<!-- Main Layout -->
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #ffe6cc;
  }

  .nav-link.active {
    background-color: #b35c00; /* Replace with your desired color */
    color: white; /* Adjust text color for better contrast */
  }

  .nav-link.active:hover {
    background-color: #994f00; /* Slightly darker shade for hover */
  }

  .student-icon {
    width: 60px;
    height: 60px;
    border-radius: 60%; /* Makes it circular */
    object-fit: cover; /* Ensures proper scaling of image */
  }
  .welcome-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #804200;
    text-decoration: none;
  }
  .student-name {
    color: #007bff; /* Highlighted color for student name */
  }

  #calendar {
    background-color: #f9f9f9;
    border: 2px solid #cccccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none !important;
    color: black;
  }
  #calendar a{
    text-decoration: none !important;
    color: black;
  }

  #accordion button {
    text-decoration: none !important;
    font-family: Arial, sans-serif;
    color: #804200;
  }

  #accordion table {
    color: #666666;
  }
</style>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Include Popper.js (required for Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>

<!-- Include Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 20%;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="welcome-text" aria-current="page">
            {% comment %} <img 
            src="https://img.freepik.com/premium-vector/boy-student-graduate-cap-icon-sign-logo-color-isolated-image-circle-isolated-vector-illustration_619989-1110.jpg" 
            alt="Student Icon" 
              class="student-icon"
              > {% endcomment %}
              <img 
            src="{% static 'images/head_icon.png' %}" 
            alt="Student Icon" 
              class="student-icon"
              >
              {{ request.session.u_name }}
            </a>
          </li>
          <hr>
          <li class="nav-item">
            <a href="/head/home" class="nav-link link-dark" >
                <i class="bi bi-house-door me-2"></i>
                Home
            </a>
          </li>
          <li>
            <a href="/head/allot_slots"  class="nav-link active" style = "background-color: #b35c00; ">
                <i class="bi bi-calendar-fill me-2"></i>
              Schedule Slots
            </a>
          </li>
          <li>
            <a href="/head/track_placements" class="nav-link link-dark">
                <i class="bi bi-grid me-2"></i>
             Track Placements
            </a>
          </li>
          <li>
            <a href="/head/review_feedback" class="nav-link link-dark">
                <i class="bi bi-search me-2"></i>
              Review Feedback
            </a>
          </li>
        </ul>
        <hr>
      </div>
    <!-- Main Content -->
    <div class="main-content flex-grow-1">
    </head>
    <body>
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-7">

              <div id="calendar" style = " text-decoration: none !important; color: black"></div>

          </div>
          <div class="col-md-5">
        
      <div id="accordion">
        {% for pending_job in pending %}
        <div class="card">
          <div class="card-header" id="heading{{ pending_job.id }}" style="height:3.2rem;">
            <h5 class="mb-0">
               
              <pre><button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ pending_job.id }}" aria-expanded="true" style = "font-weight: 600" aria-controls="collapse{{ pending_job.id }}">{{ pending_job.compName }}      Posted on {{ pending_job.date_posted }}</button></pre>
            </h5>
          </div>
      
          <div id="collapse{{ pending_job.id }}" class="collapse" aria-labelledby="heading{{ pending_job.id }}" data-parent="#accordion">
            <div class="card-body">
              {% comment %} <p>Company Name: {{ pending_job.compName }}</p>
              <p>Date Posted: {{ pending_job.date_posted }}</p> {% endcomment %}
              <table width="100%" >
                <tr>
                  <td> {{ pending_job.job_title }}</td>
                  <td> {{ pending_job.job_type }}</td>
                </tr>
                <tr>
                  <td> {{ pending_job.job_duration }}</td>
                  <td> {{ pending_job.job_domain }}</td>
                </tr>
                {% comment %} <tr>
                  <td colspace = 2> {{ pending_job.job_desc }}</td>
                </tr> {% endcomment %}
                  <td>Rs {{ pending_job.job_salary }} lpa</td>
                  <td> {{ pending_job.eligible_branches }}</td>

                </tr>
              </table>
              <hr>
              <form action="/head/allot_slots" method="POST">
                {% csrf_token %}
                <input type="hidden" name="job_id" value="{{ pending_job.id }}">
                    <table width="100%" >
                      <tr style="font-size: 0.9rem; color: #331a00;">
                        <th>PPT Slot</th>
                        <th>OA Slot</th>
                        <th>Interview Slot</th>
                      </tr>
                      <tr>
                        <td>
                          <input required style="width: 80%; padding: 3px; font-size: 0.8rem;" type="date" id="ppt_slot" name="ppt_slot" value="{{ pending_job.ppt_slot }}">
                        </td>
                        <td>
                          <input required style="width: 80%; padding: 3px; font-size: 0.8rem;" type="date" id="oa_slot" name="oa_slot" value="{{ pending_job.oa_slot }}">
                        </td>
                        <td>
                          <input required style="width: 80%; padding: 3px; font-size: 0.8rem;" type="date" id="interview_slot" name="interview_slot" value="{{ pending_job.interview_slot }}">
                        </td>
                      </tr>
                      </table>
                      <br>
                      <button type="submit" style="background-color: #804200; color: white" class="register-btn">Allot Slots</button>
              </form>
            </div>
          </div>
        </div>
          {% endfor %}
        {% comment %} <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div> {% endcomment %}
        

      </div>
  </div>
  <!-- Include FullCalendar JS -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      event_colors = ['red', 'blue', 'green'];
      // Initialize FullCalendar

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth', // Month view
        events: [

          {% for event in events %}
          {
            id: '{{ event.id }}',
            title: '{{ event.compName }}',
            start: '{{ event.start }}',
            backgroundColor: event_colors['{{ event.round }}'],
          },
          {% endfor %}
        ],
      });

      // Render the calendar
      calendar.render();

      // Example: Access an event by ID
      var event = calendar.getEventById('1'); // Replace '1' with the event ID
      if (event) {
        console.log('Event Title:', event.title); // Log event details
        console.log('Event Start Date:', event.start.toISOString());
      }
    });
  </script>
      
{% endblock %}