{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Portal - Register</title>
    <link rel="stylesheet" href= "{% static 'css/register_common.css' %}"> <!-- Link to the external CSS file -->
</head>
<body>
    <body>

       
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR4DvR0F3-QAhTirfUZl7u8qrAAxnzXnuzdA&s" class="corner-image" alt="Corner Image">
        <div class="floating-title" style="animation-duration: 30s;">CHARITHAM - RVCE Placement Portal</div>
    </body>


<div class="register-container">
    <h2>Register</h2>
    <form action="reg_common_submit" method="post">
        <div class="form-group">
            <label for="usertype">Type of User</label>
            <select id="usertype" name="usertype" required>
                <option value="">Select User Type</option>
                <option value="Student">Student</option>
                <option value="Coordinator">Faculty Coordinator</option>
                <option value="Company">Company</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        <div class="form-group">
            <label for="useremail">Email ID</label>
            <input type="text" id="useremail" name="useremail" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="register-btn">Register</button>
    </form>
</div>

</body>
</html>
